@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Upright&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  background-color: #FDFAF0;
  /*
  color: #CFA27C;
  */
  
  color: #AD8145;
  font-family: 'Roboto', sans-serif;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Upright', serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-image-container {
 
}

.home-image {
 
}

.title-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: transparent;
  width: 60%;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  margin-left: 25px;
  text-transform: uppercase;
  font-weight: 1000;
  color: #AD8145; 
}

.title:hover {
  text-decoration: none;
  color: #AD8145; 
}

.home-text-container {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
}

.home-text {
  display: flex;
  flex-direction: row;
  font-size: 10vw;
  font-family: 'Cormorant Upright', serif;
  margin-left: 25px;
}


.subtext {
  font-size: 24px
}

.home-image {
  height: auto;
  width: 540px;
  /*margin-right: 25px;*/
}

.about-text {
  font-family: 'Cinzel';
}

.about-image, .category-image{
  height: auto;
  width: 540px; 
}

.about-image {
  
}

.about-container {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 100px;
  background-color: #F2EFE3;
  
}

.about-text-container {
  display: flex;
  flex-direction: column;
  margin-top: 500px;
  margin-left: 25px;
  background-color: #F2EFE3;
}

.about-text {
 
}

.about-title {
  
}

.contact-container {
  width: 100%;
  margin-bottom: 100px;
}

.contact-text-container {
  margin-top: 50px;
}

.contact-image {
  width: 100%;
  height: auto;
  text-align: center;
  

}

.contact-text {
  font-weight: bold;
  margin-left: 25px;
  font-size: 16px;
}

.contact-image-container {
  width: 100%;
  
}

.contact-subtitle {
  font-family: 'Cinzel';
  font-size: 16px;
  margin-left: 25px;
}

.contact-title {
  font-size: 48px;
  margin-left: 25px;
}

.btn.btn-primary {
  color: black;
  background-color: transparent;
  border-color: transparent;
}

.btn-primary:hover {
 
}

.modal-backdrop {
  background-color: transparent;
}

.modal {
  border: none;
  background-color: #A59B8D;
}

span.text-light {
  background-color: #A59B8D;
}

.modal-content {
  background-color: #A59B8D;
  margin:0%;
  border: none;
  border-radius: 0;
  background-clip: none;
}

.navbar-text {
  background-color: #A59B8D;
}

/* Login Button */

/* Modal btns */


.close-button {
  font-family: 'Cinzel';
  border-width: 1px;
  font-size: 12px;
  background-color: #A59B8D;
  padding: 10px 40px;
  width:50%;
}

.modal-dialog  {
  background-color: #A59B8D;
  margin: none !important;
  border: none;
}

/* Shop All Products Cards */
.checkout {
  text-align: center;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  margin-top: 50px;
}

.product-card {
  margin: 10px;
}

.product-link {
  border: none;
}

.product-link:hover {
  opacity: 0.5;
  /*cursor: crosshair;*/
}

.card-body {
  font-family: 'Cinzel';
  text-align: center;
}

.card {
  border: none;
}

.card-img-top {
  
}

.card-img-bottom {

}

.card-body {
  padding: 0px;
}

.shop-all-container {
  margin-bottom: 100px;
}

.products-image{
  width: 200px;
  height: auto;
}
/* Shop all ends */

/* Category Carousel styling */
.category-image-container, .home-image-container {
  /*width: 100%;*/
}



.category-image {
  float: left;
}

.category-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #F2EFE3;
}

.category-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vw;
  background-color: #F2EFE3;
}

.category-name {
  background-color: #F2EFE3;
}

.category-subtext {
  background-color: #F2EFE3;
}

/*category carousel indicators */
.carousel-indicators { visibility: hidden; }

.carousel-control-next, .carousel-control-prev {
  opacity: 0;
}
.shop-all-link {
  margin-left: 25px;
}

.add-to-cart, .shopnow-button {
  padding: 10px 50px;
  font-size: 12px;
  border-width: 1px;
  border-color: #AD8145;
  font-family: 'Cinzel';
}

/* Cart Styling */
.cart-login-alert {
  color: black;
  background-color: transparent;
  margin-top: 100px;
}

.cart-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-button {
  border: none;
}

a:hover {
  color: black;
  text-decoration: none;
  font-style: italic;
}

.row {
  flex-direction: column;
  align-items: center;
  margin-right: 0px;
  margin-left: 0px;
  padding: 100px;
}

.card-container {
  border-bottom: 1px solid black;
}

/* Cart Styling Ends */

/* Footer Styling */ 
.footer {
  padding-top: 200px;
  background-color: #F2EFE3;
  
}

.footer-links {
  text-align: center;
  margin-bottom: 0px;
  background-color: #F2EFE3;
  
}
/*
.footer {
  width: 100%;
  transition: width 2s;
  background: pink;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.footer:hover {
  width: 300px;
}
*/

/* Menu Styling*/
.hidden-menu {
  visibility: hidden;
  height: 0px;
  
}

.menu-btn {
  flex-direction: column;
  height: 2rem;
  justify-content: space-between;
  left: 50%;
  position: absolute;
  top: 5%;
  transform: translate(-50%,-50%);
  width: 5.5rem;
  align-items: center;
  display: flex;
  color: black;
  background-color: transparent;
  z-index: 1;
  margin-bottom: 10px;
}

.menu-span1, .menu-span2, .menu-span3 {
  width: 40px;
  height: 2px;
  background-color: #AD8145;
  transition: 1s;
}

.change .menu-span1 {
  -webkit-transform: translateY(10px) rotate(45deg);
   transform: translateY(10px) rotate(45deg);
   background-color: #AD8145;
   position: absolute;
}

.change .menu-span2 {
  opacity: 0;
  display: hidden;
}

.change .menu-span3 {
  transform: translateY(10px) rotate(-45deg);
  background-color: #AD8145;
  position: absolute;
}

.change {
  position: absolute;
  top: 4%;
  left: 50%;
  height: 2rem;
  background-color: transparent;
  align-items: center;
  text-align: center;
  transform: translate(-50%,-50%);
  display: flex;
  z-index: 9;
}

.open-menu {
  opacity: 0.99;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F2EFE3;
  transition: all .6s cubic-bezier(.55,0,.1,1);
  z-index: 8;
}

.lock-screen {
  overflow-y: hidden;
  display: none;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F2EFE3;
}

.menu-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F2EFE3;
  margin-bottom: 100px;
}

.menu-cart-icon {
  color: black;
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin-right: 25px;
  
}
/*
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
*/
.cart-icon {
  background-color: #F2EFE3;
}
 
.open-menu a, .btn.btn-secondary{
  padding: 8px;
  
  text-decoration: none;
  font-size: 24px;
  color: #AD8145;
  display: block;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  letter-spacing: -.008em;
  font-weight: 1000;
  -webkit-font-smoothing: antialiased;
}



.open-menu a:hover, .open-menu a:focus {
  /*font-family: 'Cormorant Upright', serif;*/
  font-style: italic;
  /*font-size: 28px;*/
  letter-spacing: -.008em;
  color: #AD8145;
  text-decoration: none;
}

.user-links {
  background-color: transparent;
}

.menu-close {
  color: white;
  text-align: center;
  font-size: 12px;

}

.welcome-text {
  text-align: center;
  font-size: 48px;
  font-family: 'Cormorant Upright', serif;
}

/* Menu Styling Ends */

/* Dog Paw Animation */ 
.paw-print-content {
  background-color: transparent;
  width: 25px;
  
}

.paw-print-image {
  
}

.paw-print-1 {
  width: auto;
  height: 236px;
  /*
  z-index: -1;
  */
  opacity: 0;
  position: absolute;
  left: 75px;
  top: 0px;
  transform: rotate(-40deg);
  -webkit-animation: walk 3s linear infinite;
  animation: walk 3s linear 2s;
  animation-fill-mode: forwards;
  background-color: transparent;
}

.paw-print-2 {
  width: auto;
  height: 236px;
 
  opacity: 0;
  position: absolute;
  left: 200px;
  top: 200px;
  transform: rotate(-45deg); 
  -webkit-animation: walk 3s linear  0.25s;
  animation: walk 3s linear 1.50s;
  animation-fill-mode: forwards;
  background-color: transparent;
}

.paw-print-3 {
  width: auto;
  height: 236px;
  
  opacity: 0;
  position: absolute;
  left: 375px;
  top: 400px;
  transform: rotate(-10deg); 
  -webkit-animation: walk 3s linear 1s;
  animation: walk 3s linear 1.25s;
  animation-fill-mode: forwards;
  background-color: transparent;
} 

.paw-print-4 {
  width: auto;
  height: 236px;
  
  opacity: 0;
  position: absolute;
  left: 400px;
  top: 600px;
  transform: rotate(-20deg); 
  -webkit-animation: walk 3s linear  1.50s;
  animation: walk 3s linear  1s;
  animation-fill-mode: forwards;
  background-color: transparent;
}

/*  
.paw-print-5 {
  width: auto;
  height: 236px;
  opacity: 0;
  position: absolute;
  left: 725px;
  top: 50px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 1.75s;
  animation: walk 3s linear infinite 0.75s;
  animation-fill-mode: forwards;
  background-color: transparent;
}
 
.paw-print-6 {
  width: auto;
  height: 236px;
  opacity: 0;
  position: absolute;
  left: 650px;
  top: 250px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 2s;
  animation: walk 3s linear infinite 0.25s;
  animation-fill-mode: forwards;
  background-color: transparent;
}
*/
    
@keyframes walk {
  /* appear */
  25%  {
    opacity: 1;
  }
  50% {
    opacity:0.75;
  }
  /* disappear */
  100% {
    opacity: 0;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX((0%));
  }
}

@media only screen and (max-width: 600px) {
.title {
  margin-top: 50px;
  font-size: 10vw;
}
.home-container, .about-container {
  display: flex;
  flex-direction: column-reverse;
  }
.home-image, .about-image {
  width:100%;
}
.home-text-container, .about-text-container {
  margin-top: 0px;
}
.paw-print-container {
  width:50%;
}
.paw-print-1, .paw-print-2 {
  height: 100px;
}
.paw-print-1 {
  top: 100px;
}
.paw-print2 {
  top: 300px;
}
.paw-print-3, .paw-print-4 {
  display: none;
}
.row {
  flex-direction: column;
}
}

