@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Upright&family=Roboto:wght@100&display=swap');

* {
  background-color: #F2EFE3;
  font-family: 'Roboto', sans-serif;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Upright', serif;
  
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.title {
  font-family: 'Cinzel', serif;;
  color: black;
  
}

.home-text-container {
  display: flex;
  flex-direction: column;
  margin-top: 500px;
  margin-left: 20px;
}

.home-text {
  font-size: 56px;
 
}

.subtext {
  font-size: 24px
}

.hero-image {
  height: auto;
  width: 540px;
  
}

.about-text {
  font-family: 'Cinzel';
}

.about-image{
  height: auto;
  width: 540px;
  
  
}

.about-container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  margin-top: 500px;
  margin-left: 20px;
}

.contact-container {
  width: 100%;
}

.contact-text-container {
  margin-top: 50px;
}

.contact-image {
  width: 95%;
  height: auto;
  text-align: center;
  

}

.contact-text {
  font-weight: bold;
  margin-left: 50%;
  font-size: 16px;
}

.contact-image-container {
  width: 100%;
  
}

.contact-subtitle {
  font-family: 'Cinzel';
  font-size: 16px;
}

.contact-title {
  font-size: 48px;
}