@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Upright&family=Roboto:wght@100&display=swap');

* {
  /*
  background-color: #F2EFE3;
  */
  font-family: 'Roboto', sans-serif;
  font-family: 'Cinzel', serif;
  font-family: 'Cormorant Upright', serif;
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.flex-container {
  margin-top:50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.title {
  font-family: 'Cinzel', serif;;
  color: black;
  font-size: 20px;
  margin-left: 25px;
}

.title:hover {
  text-decoration: none;
  color: white;
}

.home-image {
  float:right;
 }

.home-text-container {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  margin-left: 25px;
}

.home-text {
  font-size: 56px;
 
}

.subtext {
  font-size: 24px
}

.home-image {
  height: auto;
  width: 540px;
  margin-right: 25px;
}

.about-text {
  font-family: 'Cinzel';
}

.about-image, .category-image{
  height: auto;
  width: 540px; 
}

.about-container {
  display: flex;

  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  margin-top: 500px;
  margin-left: 25px;
}

.contact-container {
  width: 100%;
}

.contact-text-container {
  margin-top: 50px;
}

.contact-image {
  width: 100%;
  height: auto;
  text-align: center;
  

}

.contact-text {
  font-weight: bold;
  margin-left: 50%;
  font-size: 16px;
}

.contact-image-container {
  width: 100%;
  
}

.contact-subtitle {
  font-family: 'Cinzel';
  font-size: 16px;
  margin-left: 25px;
}

.contact-title {
  font-size: 48px;
  margin-left: 25px;
}

.btn.btn-primary {
  color: black;
  background-color: transparent;
  border-color: transparent;
}

.btn-primary:hover {
 
}

.modal-backdrop {
  background-color: transparent;
}

.modal {
  border: none;
  background-color: #A59B8D;
}

span.text-light {
  background-color: #A59B8D;
}

.modal-content {
  background-color: #A59B8D;
  margin:0%;
  border: none;
  border-radius: 0;
  background-clip: none;
}

.navbar-text {
  background-color: #A59B8D;
}

/* Login Button */

/* Modal btns */


.close-button {
  font-family: 'Cinzel';
  border-width: 1px;
  font-size: 12px;
  background-color: #A59B8D;
  padding: 10px 40px;
  width:50%;
}

.modal-dialog  {
  background-color: #A59B8D;
  margin: none !important;
  border: none;
}

/* Shop All Products Cards */
.checkout {
  text-align: center;
}

.card-body {
  font-family: 'Cinzel';
  text-align: center;
}

.card {
  border: 0.01px;
}

.card-img {
  margin-bottom: 25px;
}

.shop-all-container {
  margin-bottom: 100px;
}
/* Shop all ends */

/* Category Carousel styling */
.category-image-container, .home-image-container {
  width: 100%;
}



.category-image {
  float: left;
}

.category-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  
}

.category-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vw;
}

/*category carousel indicators */
.carousel-indicators { visibility: hidden; }

.carousel-control-next, .carousel-control-prev {
  opacity: 0;
}
.shop-all-link {
  margin-left: 25px;
}

.add-to-cart, .shopnow-button {
  padding: 10px 50px;
  font-size: 12px;
  border-width: 1px;
  font-family: 'Cinzel';
}

/*
.footer {
  width: 100%;
  transition: width 2s;
  background: pink;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.footer:hover {
  width: 300px;
}
*/

/* Menu Styling*/
.hidden-menu {
  visibility: hidden;
}

.menu-btn {
  float: right;
  margin-right: 25px;
  font-family: 'Cinzel';
  border-width: 1px;
  font-size: 12px;
  margin-top: 20px;
  padding: 10px 100px;
}

.menu-content {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;

  
}
/*
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
*/

.menu-content a, .btn.btn-secondary{
  padding: 8px;
  font-family: 'Roboto';
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
  transition: 3s;
  text-align: center;
}


.menu-content a:hover, .menu-content a:focus {
  color: #f1f1f1;
  text-decoration: none;
}

.user-links {
  background-color: transparent;
}

.menu-close {
  color: white;
  text-align: center;
  font-size: 12px;

}

.welcome-text {
  text-align: center;
  font-size: 48px;
  font-family: 'Cormorant Upright', serif;
  color: white;
}

/* Menu Styling Ends */

/* Dog Paw Animation */ 
.paw-print-container {
  background-color: transparent;
  width: 25px;
  
}

.paw-print-image {
  
}

.paw-print-1 {
  width: auto;
  height: 236px;
  z-index: -1;
  opacity: 0;
  position: absolute;
  left: 75px;
  top: 300px;
  transform: rotate(-40deg);
  -webkit-animation: walk 3s linear infinite;
  animation: /*keyframe*/walk /*duration*/3s /*transition*/linear infinite/*repeat*/ 2s;
  animation-fill-mode: forwards;
}

.paw-print-2 {
  width: auto;
  height: 236px;
  z-index: -1;
  opacity: 0;
  position: absolute;
  left: 200px;
  top: 500px;
  transform: rotate(-45deg); 
  -webkit-animation: walk 3s linear infinite 0.25s;
  animation: walk 3s linear infinite /*delay*/1.50s;
  animation-fill-mode: forwards;
}

.paw-print-3 {
  width: auto;
  height: 236px;
  z-index: -1;
  opacity: 0;
  position: absolute;
  left: 375px;
  top: 800px;
  transform: rotate(-10deg); 
  -webkit-animation: walk 3s linear infinite 1s;
  animation: walk 3s linear infinite 1.25s;
  animation-fill-mode: forwards;
} 

.paw-print-4 {
  width: auto;
  height: 236px;
  z-index: -1;
  opacity: 0;
  position: absolute;
  left: 400px;
  top: 1050px;
  transform: rotate(-20deg); 
  -webkit-animation: walk 3s linear infinite 1.50s;
  animation: walk 3s linear infinite 1s;
  animation-fill-mode: forwards;
}

   
.paw-print-5 {
  width: auto;
  height: 236px;
  z-index: -1;
  opacity: 0;
  position: absolute;
  left: 725px;
  top: 200px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 1.75s;
  animation: walk 3s linear infinite 0.75s;
  animation-fill-mode: forwards;
}
 
.paw-print-6 {
  width: auto;
  height: 236px;
  z-index: -1;
  opacity: 0;
  position: absolute;
  left: 650px;
  top: 400px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 2s;
  animation: walk 3s linear infinite 0.25s;
  animation-fill-mode: forwards;

}
    
@keyframes walk {
  /* appear */
  25%  {
    opacity: 1;
  }
  50% {
    opacity:0.75;
  }
  /* disappear */
  100% {
    opacity: 0;
  }
}

